<h1> Dictionary-light </h1>

<h3>Current list of words:</h3>

<ul>
  <% @all_defs.each() do |words| %>
  <li><a href="/entire_list/<%= words.id() %>"><%= words.word() %></a></l>
    <% end %>
  </ul>


<h3><a href="/entire_list/new">Add a new word!</a></h3>
